[Unit]
Description=Gunicorn service for Django feedback project
After=network.target

[Service]
User=lab420pro
Group=lab420pro
WorkingDirectory=/home/lab420pro/tsn/feedback_project
ExecStart=/home/lab420pro/tsn/venv/bin/gunicorn -c gunicorn_config.py feedback_project.wsgi:application

[Install]
WantedBy=multi-user.target
